@charset "UTF-8";
body{
    min-width: 100%;
    height: 100%;
}
.material-symbols-outlined{
    display: block;
    float: right;
    margin: 16px 10px 0;
}
header{
    display: inline-block;
    background: #7e95ff;
    min-width: 100%;
    width: 100%;
    height: 50px;
}
#toggle:checked ~ #top{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #cbdefd;
}
.th{
    position: relative;
    display: inline-block;
    padding: 0;
}
.logo{
    margin: 0;
    height: 100%;
}
.top{
    display: none;
    gap:0;
    align-items:normal;
    margin: 0;
}
.nav{
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 10px;
    margin: 10px 0;

}
.r-nav{
    width: 100%;
    display: flex;
    justify-content:center;
    outline: 1px solid #ffffff;
    
}
.top span{display: block;}
.video{display: none;}
.slider{
    position: absolute;
    width: 100%;
    top: 50px;
}
.myslide{
    width: 100%;
    height: 300px;
}
.slider1{
    width: 100%;
    height: 300px;
}
/* ------------------------------ */
.sec1{
    display: block;
    position: relative;
    width: 100%;
    top: 350px;
    height:300px;
    overflow: hidden;
    padding: 10px 0;
}
.inner-1{
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.text{
    line-height: 15px;
    width: 110px;
}
.tx{padding-left: 20px;}
.tx h1{font-size: 20px;}
.tx p{font-size: 12px;}
.imgset{display: flex;}
.imgcollect li{
    width: 300px;
    height: 300px;
}
.swiper-card{
    margin: 0;
    height: 350px;
    width: 1000px;
    ul{
        position: absolute;
        display: flex;
        gap: 10 0;
        width: max-content;
        animation: aniScroll 50s linear infinite;
        &.imgcollect-2{
          animation: aniScroll-2 50s linear infinite;
        }
        li{
          border-radius: 20px;
          width: 150px;
          height: 300px;
          background-color: #fff;
        }
      }
}
/* -------------------------------------------- */
.slidebox{
    display: flex;
    justify-content: center;
}
.imgcollect{
    width: 350px;
    height: 100%;
    gap: 10px;
}
.icon{
    position: static;
    opacity: 0.5;
    display: flex;
    gap: 5px;
    justify-content: center;
    transform: none;
    -ms-transform: none;
}
.text{
    font-size: 12px;
    margin-left: 0;
}
.text >p{display: none;}
.text .sale{justify-content: center;}
.imgset img{
    width: 120px;
    height: 120px;
}
.mg{
    width: 16px;
    height: 16px;
}
aside{display: none;}
/* ------------------------------------------------- */
.sec2{
    top: 350px;
    position:relative;
}
.riview{width: 100%;}
.riview h1{
    padding:0 20px;
    font-size: 20px;
}
.slid{
    margin: auto;
    height: 200px;
}
.list{
    gap: 15px;
    transform: none;
}
.rset{
    height: 200px;
    min-width: 130px;
}
.rset > img{
    width: 130px;
    height: 130px;
}
.rset p{margin: 5px 5px;}
.rset > P:nth-child(2){
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.product{
    width: 100%;
    padding-bottom: 0;
}
.r_set{display: none;}
.hset{
    /* margin-top: 30px; */
    gap: 10px;
}
.hover{
    width: 100px;
    height: 100px;
}
.hover .p{
    font-size: 18px;
    margin-left: 14px;
}
.hover a > img{
    display: block;
    width: 100px;
    height: 100px;
}
.hset .hover:hover{padding-bottom: 0;}
.product h1{
    padding:0 20px;
    font-size: 20px;
}
/* ------------------------------------------------ */
.fimg{
    position: relative;
    height: 100px;
    top: 350px;
}
footer{
    position: relative;
    top: 350px;
    height: 100%;
    padding-top: 0;
}
.foot{
    line-height: 12px;
    font-size: 8px;
}
.ic{
    width: 20px;
    height: 20px;
}
.foot_1 p, .foot_2 p{margin-bottom: 10px;}
.foot_1{
    font-size: 8px;
    padding: 0;
}
.foot_2{
    font-size: 8px;
    padding: 0;
}
.foot_3{
    padding: 0;
    font-size: 8px;
}
.foot_3 img{
    width: 90px;
    height: 10px;
    margin: 0;
}
