@charset "UTF-8";
/* *{outline: solid 1px red;} */
html, body{display:contents;}
html{overflow:scroll;}
.page1{
    line-height: 0;
}
.page1-1{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}
.page1-1 h1{font-size: 5vh;}
.page1-1 p{font-size: 4vh;}
@keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
}
.noite{
    height: 100%;
}
.lua {
    top: 2vw;
    width: 14vw;
    height: 14vw;
}
.lua .textura{
    width: 14vw;
    height: 14vw;
}
/* ------------------------------------- */
#section2{
    min-width: 0;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top,rgb(43, 32, 72), rgb(25, 19, 39)80%,rgb(0, 0, 0));
}
.bgh2{display: none;}
.prog{display: none;}
.imgset{display: none;}
#section2 > h1{
    font-size: 4vh;
    text-align: center;
}
.imgset{display: none;}
.page2-1{
    display: inline-block;
    position: relative;
    height: 100%;
}
.page2-1 .img{border-radius: 0;}
.page2-1 .img img{
    border-radius: 0;
    height: 30vw;
    width: 30vw;
    justify-content: end;
    align-items: end;
}
.page2-1 .textarea span {
    position: absolute;
    top: 40px;
    width: 60vw;
    right: 1px;
    color: rgb(195, 106, 223);
    font-size: 6vw;
}
.page2-1 .textarea p{
    margin: 30px 20px;
    color: #fff;
    font-size: 3vw;
    text-align: center;
}
.bbg{
    position: absolute;
    bottom: 5px;
    border-radius: 0;
    height: 30vh;
    width: 100%;
  }
.constelacao1{display: none;}
  /* ------------------------------ */
  #section3 > h1{
    font-size: 4vh;
    text-align: center;
    margin: 0;
  }
  .ox{
    width: 0;
  }
  .hom{
    border-radius: 0;
    height: 20vh;
    width: 10vh;
  }
  .portfolio > h1{font-size: 2vw;}
  .portfolio > p{font-size: 1vw;}
  /* ------------------------------- */
.contect{
    font-size: 14vw;
}
.with{
    font-size: 12vw;
}
.neon_effect p{
    font-size: 4vw;
}
#section4 > a{display: none;}
#section4{background: -webkit-linear-gradient(top,  rgb(43, 32, 72)10%, rgb(25, 19, 39)20%, rgb(0, 0, 0) 100%);}
