@charset "UTF-8";
*{      
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 0;
    border: 0;
    vertical-align: baseline;
    /* outline: 1px solid red; */
}
a{text-decoration: none;}
a{vertical-align: top;}

ul{list-style: none;}
body{ 
    position: relative;
    min-width: 1000px;
}
header{
    background: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 147px;
    background-color: #0d4633;
    z-index: 15;
}
.top_hd{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    z-index: 10;
}
.logo {
    position: absolute;
    top: 33px;
    left: 50%;
    margin-left: -144px;
    width: 286px;
    height: 37px;
    z-index: 0;
}
.fas{display: none;}
/* --------------------sns 아이콘 ---------------------------*/
.top_hd .sns {
    position: absolute;
    top: 44px;
    left: 0;
    width: 200px;
    z-index: 0;
}
.top_hd .sns  a {
    float: left;
    display: inline-block;
    margin-right: 29px;
    background: url(/portfolio/img/tlj/common.png) left top no-repeat;
    font-size: 0;
    color: #32271d;
}
.top_hd .sns .facebook {
    width: 9px;
    height: 19px;
    background-position: -20px -45px;
}

.top_hd .sns .twitter {
    width: 12px;
    height: 19px;
    background-position: -39px -45px;
}

.top_hd .sns .instagram {
    width: 19px;
    height: 19px;
    background-position: -20px -104px;
    margin-right: 0;
}
/* --------------------------------------------------- */
/* ----------------------검색 영역--------------------- */
.search {
    position: absolute;
    left: 160px;
    top: 39px;
    width: 220px;
    z-index: 0;
}
legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

fieldset{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.search .btn_close {
    display: none;
}
/* ------------------------------------------------------- */
/* ------------------오른쪽 상단 부분---------------------- */
.tnb > li > a {
    float: left;
    margin: 6px 0 0 12px;
    padding-bottom: 1px;
    background: url(/portfolio/img/tlj/menu.png) left top no-repeat;
    font-size: 0;
    color: #32271d;
    overflow: hidden;
}
.tnb {
    position: absolute;
    top: 43px;
    right: 0;
    z-index: 0;
}
.tnb .tnb_store {
    width: 42px;
    height: 13px;
    background-position: 0px 0px;
}
.tnb .tnb_customer {
    width: 43px;
    height: 13px;
    background-position: 0px -40px;
}
.tnb .tnb_recruit {
    width: 68px;
    height: 13px;
    background-position: 0px -120px;
}
.tnb .tnb_login {
    width: 53px;
    height: 24px;
    margin: 0 0 0 8px;
    background-position: -300px -40px;
    border: 0 none;
    z-index: 0;
}
.tnb .tnb_foundation {
    position: absolute;
    right: -75px;
    top: -49px;
    width: 63px;
    height: 68px;
    background: url(/portfolio/img/tlj/menu_point.png) no-repeat 0 0;
}
/* ----------------------------------------------------------- */



/* ----------------------네비부분------------------------------- */
.nav {
    position: relative;
    left: 0;
    top: 104px;
    width: 100%;
    height: 43px;
    text-align: center;
    z-index: 50;
    border-top: 1px solid rgba(255, 255, 255, 0.2) ;
}

.nav > ul {
    display: inline-block;
    width: 1000px;
}
.all > li {
    width: 20%;
    float: left;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
.depth2{
    display: none;
    overflow: hidden;
    height: 0;
    top: 40px;
    right: 0;
    z-index: 10;
} 
.depth2 > li{
    display: flex;
    justify-content:center;
    font-size: 12px;
    margin: 15px;
}
.depth2 a{
    opacity: 0.7;
    color: #fff;
}
.nav .depth1 {
    display: inline-block;
    width: 100%;
    height: 18px;
    padding: 30px 0 15px 0;
    background: url(/portfolio/img/tlj/gnb.png) left top no-repeat;
    font-size: 0;
}
.nav .depth1:first-child {
    margin-left: 0;
}
.nav .gnb_brand .depth1 {
    width: 90px;
    background-position: 0px 0px;
}
.nav .gnb_bread .depth1 {
    width: 120px;
    background-position: 0px -100px;
}
.nav .gnb_product .depth1 {
    width: 63px;
    background-position: 0px -50px;
}
.nav .gnb_event .depth1 {
    width: 97px;
    background-position: 0px -150px;
}
.nav .gnb_shop .depth1 {
    width: 178px;
    background-position: 0px -550px;
}
/* -------------------------------------------------------------- */
/*------------------------ 메인 대배너----------------------------- */
.sec1{
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 0;
    z-index: 0;
}
.main-slider1 {
    position: relative;
    width: 100%;
    height: 606px;
    text-align: center;
    overflow: hidden;
}
.main-slider1 .img_main2 {
    background-color: #f8f4e9;
}
.main-slider1 ul li {
    height: 626px;
}
body .visual_area {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    height: 606px;
    text-align: center;
}
body .visual_area .txt2 span {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin-top: 500px;
    font-size: 0;
    overflow: hidden;
}
/* ---------------------------------------------------------------------- */
/* -------------------------------메인 1---------------------------------- */
body .sec2{
    position: relative;
    padding-top: 30px;
    background-color: #f7f0da;
    margin-top: 606px;
    z-index: 10;
}
.sec2{padding: 230px 0 50px 0;}
#content{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
/* ---------------------------우측상단------------------------------------ */
body .main1{
    clear: both;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 588px;
}
.floatleft{
    width: 393px;
    height: 405px;
    float: left !important;
    position: relative;
}
.floatleft .bx-wrapper{
    position: relative;
    height: 405px;
    text-align: center;
}
.floatleft .bx-wrapper .bx-controls{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px 0;
    width: 100%;
    background: url(/portfolio/img/tlj/main_slider1_controls_bg.png) 0 0 repeat;
    z-index: 100;
}
.floatleft .bx-wrapper .bx-pager{
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}
.bx-pager-item a{
    background: url(/portfolio/img/tlj/main.png) -78px -11px no-repeat;
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    overflow: hidden;
}
.bxslider li{
    float: none;
    list-style: none; 
    position: absolute; 
    width: 393px; 
    z-index: 0; 
    display: list-item;
}
.bx-pager-item{display: inline-block;}
.floatleft .bx-wrapper .bx-direction{display: none;}
.floatleft .bx-wrapper .bx-auto{    
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    overflow: hidden;
}
.floatleft .bx-wrapper .bx-auto  a .active{display: none;}
.floatleft .bx-wrapper .bx-auto .auto-item a{
    position: absolute;
    top: 0;
    z-index: 10;
}
.start{
    left: 0;
    text-indent: -9999px;
    width: 15px;
    height: 14px;
    background: url(/portfolio/img/tlj/main.png) -10px -10px no-repeat;
}
.stop{
    display: none;
    left: 0;
    text-indent: -9999px;
    width: 15px;
    height: 14px;
    background: url(/portfolio/img/tlj/main.png) -34px -10px no-repeat;
}
/* -------------------------------------------------------------------- */
.floatleft + .shop-mall{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 173px;
}
.floatright .recomm p{display: none;}
body .main1 .floatright{
    position: relative;
    width: 596px;
    height: 588px;
}
.floatright .fresh{
    height: 176px;
    margin-top: 11px;
}
.bx-wrapper{
    background: none;
    max-width: 100%;
}
.bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 402px;
}
.bxslider{
    height: 402px;
    width: auto;
    position: relative;
}
.floatright .bxwrapper{
    overflow: hidden;
    position: relative;
    width: 596px;
    height: 405px;
    margin: 0;
    background: #fff;
    text-align: center;
}
.floatright{float: right !important;}
.floatright .recomm{
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 60;
}
.tljsns{display: none;}
/* ------------------------------------------------------------------------------------- */
/* -----------------------------메인 2------------------------------- */
.main2{
    display: flex;
    content: "";
    clear: both;
    width: 100%;
    margin-bottom: 30px;
}
body .main2 .lfloat{
    width: 100%;
}
.lfloat{float: left !important;}
.store_find{
    display: block;
    position: relative;
    width: 100%;
    height: 263px;
    background: url(/portfolio/img/tlj/img_store_find.jpg) left top no-repeat;
}
.hidden, legend{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.srch_form{
    display: flex;
    padding: 156px 206px;
}
.ipt02{
    opacity: 1;
    text-indent: 7px;
    float: left;
    margin: 0;
    padding: 5px 0 5px 0;
    background: #fff;
    font-size: 12px;
    color: #49321f;
    line-height: 22px;
    letter-spacing: -1px;
}
.rfloat{
    position: relative;
    width: 393px;
    float: right !important;
}
.brad{
    width: 400px;
    height:350px;
}
/* ---------------------------------------------------------------------- */
.main3{
    content: "";
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.main3 .lfloat{
    width: 596px;
    height: 131px;
    float: left !important;
}
.main3 .rfloat{
    position: relative;
    width: 393px;
    height: 131px;
    float: right !important;
}
.notice{
    position: relative;
    width: 100%;
    height: 100%;
    background: #f6f4ee;
}
.notice .tit{padding: 23px 0 0 0;}
.notice .tit .txt{
    display: inline-block;
    width: 127px;
    height: 14px;
    margin-left: 22px;
    font-size: 0;
}
.notice .list{
    margin: 22px 22px 0 22px;
}
.notice ul li a{
    display: block;
    overflow: hidden;
    font-size: 12px;
    color: #573f26;
    font-family: "돋움",Arial;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 19px;
}
.notice .btn-more{
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 10;
}
.btn-more a {
    display: inline-block;
    width: 31px;
    height: 30px;
    padding: 0;
    border: 1px solid #99918b;
    font-size: 0;
    background: transparent url(/portfolio/img/tlj/common.png) no-repeat -387px -328px;
}
/* ---------------------------------------푸터---------------------------------------- */
footer{
    position: absolute;
    width: 100%;
    height: 280px;
    margin-top: inherit;
    overflow: hidden;
    min-height: 272px;
}
.footmenu{display: none;}
.family_site{
    width: 100%;
    height: 67px;
    border-top: 1px solid #cac0b6;
    background-color: #f7f0da;
}
.family_site .buttonWrap{
    position: relative;
    width: 1070px;
    margin: 0 auto;
}
.family_site .wrapList{
    position: relative;
    overflow: hidden;
    width: 1020px;
    height: 56px;
    margin: 0 auto;
}
.family_site ul{
    overflow: hidden;
    margin: 0 auto;
    height: 66px;
}
.family_site li{padding-top: 8px;}
.family_site a{
    float: left;
    margin: 0 5px;
    background: url(/portfolio/img/tlj/common.png) left top no-repeat;
    font-size: 0;
}
.family_site .Cj_foodville{
    width: 55px;
    height: 27px;
    margin-top: 5px;
    background-position: -590px -266px;
}
.family_site .vips{
    width: 40px;
    height: 24px;
    margin-top: 10px;
    background-position: -650px -268px;
}
.family_site .the_place{
    width: 47px;
    height: 23px;
    margin-top: 6px;
    background-position: -701px -333px;
}
.family_site .cheil{
    width: 59px;
    height: 14px;
    margin-top: 10px;
    background-position: -761px -338px;
}
.family_site .ngrill{
    width: 58px;
    height: 13px;
    margin-top: 13px;
    background-position: -670px -474px;
}
.family_site .ntower{
    width: 68px;
    height: 30px;
    margin-top: 6px;
    background-position: -1127px -665px;
}
/* -------------------------------------------------------------------------- */
/* ----------------------------------푸터2------------------------------------ */
.footerWrap{
    height: 100%;
    background-color: #2e2f2e;
    padding-bottom: 40px;
    font-size: 12px;
}
.footerWrap > ul{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}
.footerWrap > ul > li{clear: both;}
.fnb li:first-child{
    padding-left: 0;
    background: none;
}
.fnb li{
    float: left;
    padding-left: 24px;
    background: url(/portfolio/img/tlj/common.png) -531px -60px no-repeat;
    margin-bottom: 10px;
}
/* .fnb a{display: inline-block;} */
.fnb .company{
    width: 49px;
    height: 13px;
    background-position: -10px -68px;
}
.fnb .recruit{
    width: 76px;
    height: 13px;
    background-position: -83px -68px;
    padding: 0;
}
.fnb .foundation{
    width: 50px;
    height: 13px;
    background-position: -255px -68px;
}
.fnb .clause{
    width: 49px;
    height: 13px;
    background-position: -182px -68px;
}
.fnb .privacy{
    width: 100px;
    height: 13px;
    background-position: -328px -68px;
}
.fnb .email{
    width: 113px;
    height: 13px;
    background-position: -451px -68px;
}
.fnb .ethic{
    width: 75px;
    height: 13px;
    background-position: -586px -68px;
}
.fnb .legal{
    width: 49px;
    height: 13px;
    background-position: -685px -68px;
}
.fnb .sitemap2{
    width: 50px;
    height: 13px;
    background-position: -756px -68px;
}
footer .info .business-name{float: left;}
.fot{padding-top: 30px;}
.footerWrap .info{
    position: relative;
    width: auto;
    height: auto;
    line-height: 20px;
    font-size: 12px;
}
.footerWrap .copyright{
    width: auto;
    height: auto;
    margin-top: 18px;
    background-image: none;
    color: #e4dfd5;
    font-size: 12px;
}
.footerWrap .info address{
    display: block;
    height: 20px;
    vertical-align: top;
}
.footerWrap .info img{vertical-align: top;}
@media(hover: hover) and (pointer: fine) {
    .nav .gnb_brand .depth1:hover{background-position: -300px 0px;}
    .nav .gnb_bread .depth1:hover{background-position: -300px -100px;}
    .nav .gnb_product .depth1:hover{background-position: -300px -50px;}
    .nav .gnb_event .depth1:hover{background-position: -300px -150px;}
    .nav .gnb_shop .depth1:hover{background-position: -300px -550px;}
    .nav:hover{
        height: 193px;
        background: url(/portfolio/img/tlj/bg_gnb_over.png) 0% 100% repeat;
        transition-duration: 0.3s;
    }
    .all:hover .depth2{
        display: block;
        height: 193px;
        width: 100%;
    }
}
